---
layout: page
title: About
block: about
permalink: /about/
---


<section class="about__info">
    <h5><b>Mission</b></h5>
    <div class="row">
        <p class="about__description col-xs-12 col-md-6">
 The Robotics and Automation Society is a student-run organization that provides its members with hands-on experience in robotics. RAS enhances students' education by supplementing classroom lectures with designing, prototyping, and competing cutting-edge autonomous robots. It provides motivated individuals with the tools and materials they need to bring their innovative ideas to life. In addition to honing their technical skills, students also learn to manage projects, acquire funding, make budgets, and meet deadlines.
        <div class="col-xs-12 col-md-6">
            <img class="about__group-image" src="/assets/images/about/group.jpg">
        </div>
    </div>
</section>
<section class="about__people-list">
    <div class="row">
        {% include centerheading.html title='Officers' %}
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-kaylene.jpg">
            <div class="about__person-title">Kaylene Stocking</div>
            <div class="about__person-position">President</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-jay.jpg">
            <div class="about__person-title">Jay Maier</div>
            <div class="about__person-position">Director of Technology</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-andrew.jpg">
            <div class="about__person-title">Andrew Saba</div>
            <div class="about__person-position">Director of Business</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-evan.jpg">
            <div class="about__person-title">Evan Becker</div>
            <div class="about__person-position">Director of Events</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-andrewl.jpg">
            <div class="about__person-title">Andrew Lobos</div>
            <div class="about__person-position">Director of Outreach</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-liam.jpg">
            <div class="about__person-title">Liam Berti</div>
            <div class="about__person-position">Web BDFL</div>
        </div>
        <!--
          <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-levi.jpg">
            <div class="about__person-title">Levi Burner</div>
            <div class="about__person-position">Director of Technology</div>
            </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-grace.jpg">
            <div class="about__person-title">Grace Brueggman</div>
            <div class="about__person-position">Director of Sponsorships</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-aaron.jpg">
            <div class="about__person-title">Aaron Miller</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-andrew.jpg">
            <div class="about__person-title">Andrew Saba</div>
            <div class="about__person-position">Project Leader</div>
        </div>
       <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-andrewl.jpg">
            <div class="about__person-title">Andrew Lobos</div>
            <div class="about__person-position">Project Leader</div>
        </div>
       <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-xinke.jpg">
            <div class="about__person-title">Xinke Chen</div>
            <div class="about__person-position">Project Leader</div>
        </div>
       <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-aarone.jpg">
            <div class="about__person-title">Aaron Esquino</div>
            <div class="about__person-position">Project Leader</div>
        </div>
   <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-zach.jpg">
            <div class="about__person-title">Zach Egolf</div>
            <div class="about__person-position">Project Leader</div>
        </div>

        -->

    </div>
</section>
<section class="about__alumni-list">
    <div class="row">
        {% include centerheading.html title='Alumni' %}
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-woody.jpg">
            <div class="about__person-title">Woody Fulmer</div>
            <div class="about__person-position">Directory of Business</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-ryan.jpg">
            <div class="about__person-title">Ryan Matthews</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-jack.jpg">
            <div class="about__person-title">Jack Bartley</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-jeremy.jpg">
            <div class="about__person-title">Jeremy Manin</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-mike.jpg">
            <div class="about__person-title">Mike Shanahan</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-caroline.jpg">
            <div class="about__person-title">Caroline Collopy</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-bert.jpg">
            <div class="about__person-title">Bert Mccutchen</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <!-- TODO: add Quentin/Jackie's mug
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-jackie.jpg">
            <div class="about__person-title">Jackie Sharp</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-quentin.jpg">
            <div class="about__person-title">Quentin Torgerson</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        -->
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-jon.jpg">
            <div class="about__person-title">Jon Kenneson</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-alex.jpg">
            <div class="about__person-title">Alex Fox</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-xavier.jpg">
            <div class="about__person-title">Xavier Torgerson</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-vin.jpg">
            <div class="about__person-title">Vinayak Nesarikar</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-ben.jpg">
            <div class="about__person-title">Ben Bush</div>
            <div class="about__person-position">Project Leader</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/officer-james.jpg">
            <div class="about__person-title">James Braza</div>
            <div class="about__person-position">Directory of Technology</div>
        </div>
    </div>
</section>
<section class="about__people-list">
    <div class="row">
        {% include centerheading.html title='Advisors' %}
        <div class="about__person col-xs-12 col-sm-6 col-lg-4 offset-lg-2">
            <img src="/assets/images/about/advisor-dickerson.jpg">
            <div class="about__person-title">Samuel Dickerson</div>
            <div class="about__person-position">Electrical and Computer Engineering</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4 offset-sm-3 offset-lg-0">
            <img src="/assets/images/about/advisor-jim.jpg">
            <div class="about__person-title">Jim Lyle</div>
            <div class="about__person-position">Electrical and Computer Engineering</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4 offset-lg-2">
            <img src="/assets/images/about/advisor-bill.jpg">
            <div class="about__person-title">Bill Mcgahey</div>
            <div class="about__person-position">Electrical and Computer Engineering</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4 offset-sm-3 offset-lg-0">
            <img src="/assets/images/about/advisor-tan.jpg">
            <div class="about__person-title">Tan Kosiyatrakul</div>
            <div class="about__person-position">Computer Science</div>
        </div>
    </div>
</section>
<section class="about__old-websites">
    <div class="row">
        {% include centerheading.html title='Previous RAS Websites' %}
        <div class="about__website col-xs-12 col-sm-6 col-lg-4">
            <div class="about__website-image-container">
                <a href="/Old_Robotics_Website_1/index.html">
                    <img src="/Old_Robotics_Website_1/images/title.gif">
                </a>
            </div>
            <div class="about__website-title">First Website</div>
            <div class="about__website-year">1999 - 2004 </div>
        </div>
        <div class="about__website col-xs-12 col-sm-6 col-lg-4">
            <div class="about__website-image-container">
                <a href="/Old_Robotics_Website_2/index.html">
                    <img src="/Old_Robotics_Website_2/welcome2.jpg">
                </a>
            </div>
            <div class="about__website-title">Second Website</div>
            <div class="about__website-year">2004 - 2005</div>
        </div>
        <div class="about__website col-xs-12 col-sm-6 col-lg-4">
            <div class="about__website-image-container">
                <a href="/Old_Robotics_Website_3/index.html">
                    <img src="/Old_Robotics_Website_3/images/titlebackground.jpg">
                </a>
            </div>
            <div class="about__website-title">Third Website</div>
            <div class="about__website-year">2005-2012</div>
        </div>
        <div class="about__website col-xs-12 col-sm-6 col-lg-4 offset-lg-2">
            <div class="about__website-image-container">
                <a href="https://github.com/Pitt-RAS/Website">
                    <img src="/assets/images/2014-2015-old-website-bio-photo.jpg">
                </a>
            </div>
            <div class="about__website-title">Fourth Website</div>
            <div class="about__website-year">2014-2015</div>
        </div>
        <div class="about__website col-xs-12 col-sm-6 col-lg-4 offset-sm-3 offset-lg-0">
            <div class="about__website-image-container">
                <a href="/Old_Robotics_Website_2015/index.html">
                    <img src="/Old_Robotics_Website_2015/images/Logo.jpg">
                </a>
            </div>
            <div class="about__website-title">Fifth Website</div>
            <div class="about__website-year">2015-2016</div>
        </div>
    </div>
</section>
