---
layout: page
title: About
block: about
permalink: /about/
---


<section class="about__info">
    <p class="about__description">We are a club that is 40 strong; comprised of many members from varying majors, varying years, and varying experience. If you’ve never had any robotic experience, or if you’ve had a decades worth, we encourage you to join. In addition to building robots we host social events, skills workshops, and company tours.</p>
    <img class="about__group-image" src="/assets/images/about/group.jpg">
</section>
<section class="about__people-list row">
    {% include sectiontitle.html title='Officers' %}
    <div class="about__person col-sm-12">
        <img src="/assets/images/about/officer-james.jpg">
        <div class="about__person-title">James Braza</div>
        <div class="about__person-position">Vice President of Technology</div>
    </div>
    <div class="about__person col-sm-12">
        <img src="/assets/images/about/officer-james.jpg">
        <div class="about__person-title">James Braza</div>
        <div class="about__person-position">Vice President of Technology</div>
    </div>
    <div class="about__person col-sm-12">
        <img src="/assets/images/about/officer-james.jpg">
        <div class="about__person-title">James Braza</div>
        <div class="about__person-position">Vice President of Technology</div>
    </div>
    <div class="about__person col-sm-12">
        <img src="/assets/images/about/officer-james.jpg">
        <div class="about__person-title">James Braza</div>
        <div class="about__person-position">Vice President of Technology</div>
    </div>
    <div class="about__person col-sm-12">
        <img src="/assets/images/about/officer-james.jpg">
        <div class="about__person-title">James Braza</div>
        <div class="about__person-position">Vice President of Technology</div>
    </div>
    <div class="about__person col-sm-12">
        <img src="/assets/images/about/officer-james.jpg">
        <div class="about__person-title">James Braza</div>
        <div class="about__person-position">Vice President of Technology</div>
    </div>
</section>
<section class="about__people-list row">
    {% include sectiontitle.html title='Advisors' %}
    <div class="about__person col-sm-12">
        <img src="/assets/images/about/advisor-jim.jpg">
        <div class="about__person-title">Jim Lyle</div>
        <div class="about__person-position">Electrical & Computer Engineering</div>
    </div>
</section>