---
layout: page
title: About
block: about
permalink: /about/
---


<section class="about__info">
        <div class="row">
            <p class="about__description col-xs-12 col-md-6">We are a growing club comprised of many members from varying majors, varying years, and varying experience. If you’ve never had any robotic experience, or if you’ve had a decades worth, we encourage you to join. In addition to building robots we host social events, skills workshops, and company tours.</p>
            <div class="col-xs-12 col-md-6">
                <img class="about__group-image" src="/assets/images/about/group.jpg">
            </div>
        </div>
</section>
<section class="about__people-list">
        <div class="row">
            {% include sectiontitle.html title='Officers' %}
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-brandon.jpg">
                <div class="about__person-title">Brandon Contino</div>
                <div class="about__person-position">President</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-james.jpg">
                <div class="about__person-title">James Braza</div>
                <div class="about__person-position">Director of Technology</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-dan.jpg">
                <div class="about__person-title">Dan Gilmour</div>
                <div class="about__person-position">Director of Business</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-michelle.jpg">
                <div class="about__person-title">Michelle Riffitts</div>
                <div class="about__person-position">Director of Communication</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-jon.jpg">
                <div class="about__person-title">Jon Kenneson</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-levi.jpg">
                <div class="about__person-title">Levi Burner</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-ben.jpg">
                <div class="about__person-title">Ben Bush</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-aaron.jpg">
                <div class="about__person-title">Aaron Miller</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-vin.jpg">
                <div class="about__person-title">Vinayak Nesarikar</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-xavier.jpg">
                <div class="about__person-title">Xavier Torgerson</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-alex.jpg">
                <div class="about__person-title">Alex Fox</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/officer-ryan.jpg">
                <div class="about__person-title">Ryan Matthews</div>
                <div class="about__person-position">Project Leader</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4 offset-sm-3 offset-lg-4">
                <img src="/assets/images/about/officer-eitan.jpg">
                <div class="about__person-title">Eitan Barach</div>
                <div class="about__person-position">Project Leader</div>
            </div>
        </div>
</section>
<section class="about__people-list">
        <div class="row">
            {% include sectiontitle.html title='Advisors' %}
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/advisor-sanchez.jpg">
                <div class="about__person-title">David Sanchez</div>
                <div class="about__person-position">Civil and Environmental Engineering</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/advisor-joe.jpg">
                <div class="about__person-title">Joe Samosky</div>
                <div class="about__person-position">Bioengineering</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4">
                <img src="/assets/images/about/advisor-jim.jpg">
                <div class="about__person-title">Jim Lyle</div>
                <div class="about__person-position">Electrical and Computer Engineering</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4 offset-lg-2">
                <img src="/assets/images/about/advisor-bill.jpg">
                <div class="about__person-title">Bill Mcgahey</div>
                <div class="about__person-position">Electrical and Computer Engineering</div>
            </div>
            <div class="about__person col-xs-12 col-sm-6 col-lg-4 offset-sm-3 offset-lg-0">
                <img src="/assets/images/about/advisor-tan.jpg">
                <div class="about__person-title">Tan Kosiyatrakul</div>
                <div class="about__person-position">Computer Science</div>
            </div>
        </div>
</section>