---
layout: page
title: Projects
block: projects
permalink: /projects/
---

<section class="projects__times">
    <div class="projects__times-table-container">
        <h4>Meeting Times:</h4>
        <br>
        <table>
            <tr>
                <td><a href="/projects/2017-community">Community/World</a>
                <td>Monday
                <td>6:00 PM
            </tr>
            <tr>
                <td><a href="/projects/2017-artbot">Artbot</a>
                <td>Tuesday
                <td>7:30 PM
            </tr>
            <tr>
                <td><a href="/projects/2017-micromouse">Micromouse</a>
                <td>Wednesday
                <td>7:00 PM
            </tr>
            <tr>
                <td><a href="/projects/2017-iarc">IARC 7</a>
                <td>Friday
                <td>6:00 PM
            </tr>
        </table>
    </div>
</section>
<section class="projects__projects row">
    {% include sectiontitle.html title='Current Projects' %}
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2017-artbot">
            <img src="/assets/images/projects/2017/project-artbot.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">Artbot</div>
                <div class="projects__card-desc">An artisitc robot witd some form of robotic movement.</div>
            </div>
        </a>
    </div>
<!--     <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2017-community">
        <img src="/assets/images/projects/2017/project-iarc.jpg">
        <div class="projects__card-info">
            <div class="projects__card-title">Community/World Project</div>
            <div class="projects__card-desc">...</div>
        </div>
        </a>
    </div> -->
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2017-micromouse">
            <img src="/assets/images/projects/2017/project-iarc.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">Micromouse</div>
                <div class="projects__card-desc">An autonomous robot capable of solving mazes as quickly as possible.</div>
            </div>
        </a>
    </div>
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2017-iarc">
            <img src="/assets/images/projects/2017/project-iarc.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">IARC Mission 7</div>
                <div class="projects__card-desc">Quadcopter capable of herding multiple Roombas.</div>
            </div>
        </a>
    </div>
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2017-rover">
            <img src="/assets/images/projects/2017/project-rover.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">Rover</div>
                <div class="projects__card-desc">WiFi controlled rover</div>
            </div>
        </a>
    </div>
</section>
<section class="projects__prev row">
    {% include sectiontitle.html title='Previous Projects' %}
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2016-minisumo">
            <img src="/assets/images/projects/2016/project-minisumo.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">Mini Sumo 2016</div>
                <div class="projects__card-desc">Autonomous robot which competes to push an opposing robot out of a ring.</div>
            </div>
        </a>
    </div>
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2016-micromouse">
            <img src="/assets/images/projects/2016/project-micromouse.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">Micromouse 2016</div>
                <div class="projects__card-desc">
                    <p>An autonomous robot capable of solving mazes as quickly as possible.</p>
                    <p>1st Place Winner in IEEE SAC 2016</p>
                </div>
            </div>
        </a>
    </div>
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2016-linefollower">
            <img src="/assets/images/projects/2016/project-linefollower.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">Line Follower 2016</div>
                <div class="projects__card-desc">Autonomous robot which attempts to follow a black line in a trakc as fast as possible.</div>
            </div>
        </a>
    </div>
    <div class="projects__card col-xs-12 col-md-6">
        <a href="/projects/2015-minisumo">
            <img src="/assets/images/projects/2015/project-minisumo.jpg">
            <div class="projects__card-info">
                <div class="projects__card-title">Mini Sumo 2015</div>
                <div class="projects__card-desc">Autonomous robot which competes to push an opposing robot out of a ring.</div>
            </div>
        </a>
    </div>
</section>
