---
layout: page
title: Sponsors
block: sponsors
permalink: /sponsors/
---

<section class="how__sponsor">
    {% include centerheading.html title='How to become a sponsor' %}
    <p>
        Looking to sponsor an up-and-coming robotics organization that has won numerous prizes and accolades? Shoot us an email at <a href="mailto:ras@pitt.edu">ras@pitt.edu</a>  and we can discuss what we have to offer. 
    </p>
</section>

<section class="current__sponsor">
    {% include centerheading.html title='Current Sponsors' %}
    <div class="container sponsors__list">
        <div class="row">
            <div class="col-xs-12">
                <img src="/assets/images/sponsor-rockwell-color.png" style="padding: 2% 8%" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                <img src="/assets/images/sponsor-aerotech.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                <img src="/assets/images/sponsor-kde-color.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                <a href="https://www.engineering.pitt.edu">
                    <img src="/assets/images/sponsor-pitt-color.png" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                <img src="/assets/images/sponsor-solidworks-color.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                <img src="/assets/images/sponsor-slamtec-color.png" />
            </div>
        </div>
    </div>
</section>
