---
layout: page
title: Workshops
block: workshops
permalink: /workshops/
---



<section class="projects__times">
    <div class="projects__times-table-container">
    {% include centerheading.html title=" Fall 2020 Workshops: " %}
        <br>
        <table>
            <tr>
                <td>Topic:</td>
                <td>Date:</td>
                <td>Presenter:</td>

            </tr>
            <tr>
                <td>Intro to ROS</td>
                <td><b>9/20/2020<b/></td>
                <td>Andrew Saba</td>

            </tr>
       	  <tr>
                <td>Intro to Motors</td>
                <td><b>10/04/2020<b/></td>
                <td>Jerry Potts</td>

            </tr>
            <tr>
                <td>LQR Basics</td>
                <td><b>10/11/2020<b/></td>
                <td>Josh Spisak</td>

            </tr>
	  <tr>
                <td>Topics in Robotics</td>
                <td><b>10/18/2020<b/></td>
                <td>Nayana Suvarna</td>

            </tr>
	  <tr>
                <td>Linux and Git</td>
                <td><b>11/01/2020<b/></td>
                <td>Caleb Troyer</td>

            </tr>
	  <tr>
                <td>Computer Vision</td>
                <td><b>11/15/2020<b/></td>
                <td>Andrew Saba</td>

            </tr>
        </table>
	<br>
	<br>
<p> A calendar with all of the workshops can be found  <a href="https://calendar.google.com/calendar/u/3?cid=b3BnOTRncTR2OHI3Y21zMnZldTk1NThvb2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">here</a>.</p>
    </div>
</section>
<section class="projects__prev row">
    {% include centerheading.html title='Workshop Archive' %}

    {% include workshopcard.html
        link="/workshops/2020-workshop1"
        image_source="/2020-workshop1/ROS_cat2.png"
        name="Intro to ROS"
        description="An introduction to the Robotic Operating System."
        %}
        
      {% include workshopcard.html
        link="/workshops/2020-workshop2"
        image_source="/2020-workshop2/motors.jpg"
        name="Intro to Motors"
        description="An introduction to different types of motors."
        %}
        
         {% include workshopcard.html
        link="/workshops/2020-workshop4"
        image_source="/2020-workshop4/robot.png"
        name="Intro to Robotics"
        description="An introduction to robotics as a whole."
        %}
</section>
