---
layout: default
title: Home
permalink: /
---

<article class="home row">
    <section class="home__important">
        {% include sectiontitle.html title="Important" %}
        <h4>Fall 2016 Project Placement Questionnaire</h4>
        <br>
        <h5><b><a href="https://docs.google.com/forms/d/e/1FAIpQLSdze9xb6c9X3Dv9Xen5rX6_t4gMpWFWyb2lMXG0kqCP8fqqmA/viewform">RAS Questionnaire Form</a></b></h5>
        <br>
        <p>
            <b>Fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSdze9xb6c9X3Dv9Xen5rX6_t4gMpWFWyb2lMXG0kqCP8fqqmA/viewform">Google Form</a></b> to be placed into the project team that best fits your skill and availability.
            <br>
            View the full project schedule on the <a href="/projects">Projects Page</a>.
        </p>
    </section>
    <div class="col-md-4 pull-md-right">
        <aside class="home__aside">
            {% include sectiontitle.html title="Events" %}
            <ul>
                <li>
                    Fall 2016 Introductory Meeting 1
                    <br>
                    <b>Date: </b>W 9/7/16
                    <br>
                    <b>Time: </b>8:00-9:00 PM
                    <br>
                    <b>Location: </b>226 Benedum
                </li>
                <li>
                    Fall 2016 Introductory Meeting 2
                    <br>
                    <b>Date: </b>Th 9/8/16
                    <br>
                    <b>Time: </b>9:00-10:00 PM
                    <br>
                    <b>Location: </b>226 Benedum
                </li>
            </ul>
        </aside>
    </div>
    <div class=" col-md-8">
        <section class="home__news">
            {% include sectiontitle.html title="News Feed" %}

            {% for post in site.posts %}
            <div class="home__post">
                {% if post.icon == 'trophy' %}
                <div class="home__post-icon"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                {% elsif post.icon == 'code' %}
                <div class="home__post-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
                {% elsif post.icon == 'picture' %}
                <div class="home__post-icon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                {% elsif post.icon == 'play' %}
                <div class="home__post-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                {% elsif post.icon == 'cogs' %}
                <div class="home__post-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                {% else %}
                <div class="home__post-icon"><i class="fa fa-align-left" aria-hidden="true"></i></div>
                {% endif %}
                <h2 class="home__post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <hr>
                {{ post.content }}
                <hr>
                <div class="home__post-footer row">
                    <div class="col-xs-12 col-sm-6">
                        <i class="fa fa-pencil" aria-hidden="true"></i>{{ post.author }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.date | date: "%-m/%-d/%Y" }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="{{ post.url }}"><i class="fa fa-link" aria-hidden="true"></i>Permalink</a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <i class="fa fa-tag" aria-hidden="true"></i><span style="text-transform: capitalize;">{{ post.categories }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    </div>
</article>
