---
layout: default
title: Home
---

<article class="home row">
    <!--<section class="home__important">
        {% include sectiontitle.html title="Important" %}
    </section>--!>
        <div class=" col-md-8">
        <section class="home__news">
            {% include sectiontitle.html title="News Feed" %}

            {% for post in paginator.posts %}
            <div class="home__post">
                {% if post.icon == 'trophy' %}
                <div class="home__post-icon"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                {% elsif post.icon == 'code' %}
                <div class="home__post-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
                {% elsif post.icon == 'picture' %}
                <div class="home__post-icon"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                {% elsif post.icon == 'play' %}
                <div class="home__post-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                {% elsif post.icon == 'cogs' %}
                <div class="home__post-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
                {% else %}
                <div class="home__post-icon"><i class="fa fa-align-left" aria-hidden="true"></i></div>
                {% endif %}
                <h2 class="home__post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <hr>
                {{ post.content | truncatewords:150 }}
                <hr>
                <div class="home__post-footer row">
                    <div class="col-xs-12 col-sm-6">
                        <i class="fa fa-pencil" aria-hidden="true"></i>{{ post.author }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>{{ post.date | date: "%-m/%-d/%Y" }}
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="{{ post.url }}"><i class="fa fa-link" aria-hidden="true"></i>Permalink</a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <i class="fa fa-tag" aria-hidden="true"></i><span style="text-transform: capitalize;">{{ post.categories[0] }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="pagination">
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
                {% else %}
                    <span class="previous">Previous</span>
                {% endif %}
                    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
                {% else %}
                    <span class="next ">Next</span>
                {% endif %}
            </div>
        </section>
    </div>
<div class="col-md-4 pull-md-right">
        <aside class="home__aside">
            {% include sectiontitle.html title="Events" %}
            <ul>
            <a href="{{ site.baseurl }}/projects">Spring 2017 Project Meeting Times</a>
                <!--<li>
                </li>-->
            </ul>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#archive">Archive</button>
            <div id="archive" class="collapse">
            {% include sectiontitle.html title="Archive" %}
            <ul>
              {% for post in site.posts %}
                {% unless post.next %}
                  <h5>{{ post.date | date: '%Y %b' }}</h5>
                {% else %}
                  {% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
                  {% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
                  {% if year != nyear %}
                    <h5>{{ post.date | date: '%Y %b' }}</h5>
                  {% endif %}
                {% endunless %}

                <li style="margin: 0"><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
            </div>
        </aside>
    </div>

</article>
