<section class="articleheader">
    <h1 class="articleheader__heading">{{ page.title }}</h1> 
    <ol class="articleheader__breadcrumb breadcrumb">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
    {% for crumb in crumbs offset: 1 %}
      {% if forloop.last %}
        / {{ page.title }}
      {% else %}
        / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
      {% endif %}
    {% endfor %}
    </ol>
</section>