<section class="articleheader">
        <div class="row">
            <h1 class="articleheader__heading col-xs-12 col-md-6">{{ page.title }}</h1> 
            <ol class="articleheader__breadcrumb breadcrumb col-xs-12 col-md-6">
            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home </a> </li>
            {% for crumb in crumbs offset: 1 %}
                {% if forloop.last %}
                    &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;{{ page.title }}
                {% else %}
                    &nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a>
                {% endif %}
            {% endfor %}
            </ol>
        </div>
</section>