<footer class="footer">
    <div class="container">
        <ul class="footer__sponsors-list row">
            <h1 class="footer__sponsors-list-title">Sponsors:</h1>
            
            <li class="col-xs-12 col-md-4">
                <a href="https://www.engineering.pitt.edu">
                    <img src="/assets/images/sponsor-pitt-white.png">
                </a>
            </li>
            <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-solidworks-white.png">
            </li>
            <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-rockwell-white.png">
            </li>
        </ul>
        <ul class="footer__sponsors-list row">
            <li class="col-xs-12 col-md-4 offset-md-2">
                <img src="/assets/images/sponsor-slamtec-white.png">
            </li>
            <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-kde-white.png">
            </li>
        </ul>
    </div>
</footer>
<div class="copyright">
    © 2018 University of Pittsburgh Robotics and Automation Society
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74071705-2', 'auto');
  ga('send', 'pageview');

</script>
