<footer class="footer">
    <div class="container">
        <ul class="footer__sponsors-list row">
            <h1 class="footer__sponsors-list-title">Sponsors:</h1>
<!--        <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-intellidrives">
            </li> -->
<!--        <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-lockheedmartin.png">
            </li> -->
            <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-tektronix.png">
            </li>
            <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-solidworks.png">
            </li>
            <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-rockwell.png">
            </li>
        </ul>
    </div>
</footer>
<div class="copyright">
    © 2016 University of Pittsburgh Robotics and Automation Society
</div>
