<footer class="footer">
    <div class="container">
        <ul class="footer__sponsors-list row">
            <h1 class="footer__sponsors-list-title">Sponsors:</h1>
            <!--        <li class="col-xs-12 col-md-4">
                <img src="/assets/images/sponsor-intellidrives">
                </li> -->
                <!--        <li class="col-xs-12 col-md-4">
                    <img src="/assets/images/sponsor-lockheedmartin.png">
                    </li> -->
                    <li class="col-xs-12 col-md-4">
                        <a href="https://www.techtronics.com">
                            <img src="/assets/images/sponsor-tektronix.png">
                        </a>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <a href="https://www.solidworks.com">
                            <img src="/assets/images/sponsor-solidworks.png">
                        </a>
                    </li>
                    <li class="col-xs-12 col-md-4">
                        <a href="https://www.rockwellautomation.com">
                            <img src="/assets/images/sponsor-rockwell.png">
                        </a>
                    </li>
        </ul>
    </div>
</footer>
<div class="copyright">
    © 2017 University of Pittsburgh Robotics and Automation Society
</div>
