<header class="header">
    <div class="header__container container">
        <div class="header__padding-container">
            <div class="header__brand">
                <a href="/"><img class="vertical" src="/assets/images/logo-vertical.png"><img class="horizontal" src="/assets/images/logo-horizontal.png"></a>
            </div>
            <div id="header__hamburger" class="header__hamburger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <nav id="navbar navbar-default" class="navbar navbar-default">
                <div id="header__exit" class="header__exit">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <ul class="header__menu-row">
                    <li class="header__menu-element"><a href="/about">About</a>
                    <li class="header__menu-element"><a href="/join">How To Join</a>
                    <li class="header__menu-element"><a href="/projects">Projects</a>
                </ul>
                <ul class="header__menu-row">
                    <li class="header__menu-element"><a href="/gallery">Gallery</a>
                    <li class="header__menu-element"><a href="/sponsors">Sponsors</a>
                    <li class="header__menu-element"><a href="/contact">Contact</a>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header__spacer"></div>
