.articleheader
{
    &__breadcrumb
    {
        border-radius: 0;
        padding: 0;
        margin: 0;
        background-color: transparent;
        @media (min-width: $md)
        {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
