.articleheader
{
    &__heading
    {
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 4px;
        margin-bottom: 30px;
        &:after
        {
            content: "";
            display: block;
            position: relative;
            top: 4px;
            width: 100px;
            height: 4px;
            background-color: $articleheader__heading-underline-color;
        }
    }
    &__breadcrumb
    {
        border-radius: 0;
        padding: 0;
        margin: 0;
        background-color: transparent;
    }
}