.header
{
    position: fixed;
    // background-color: $header__background-color;
    color: $header__color;
    width: 100%;
    padding-left: $header__horizontal-padding;
    padding-right: $header__horizontal-padding;
    height: $header__height;
    z-index: 999;
    font-weight: bold;
    @media (min-width: $md)
    {
        position: static;
        padding: 0;
    }
    &__container
    {
        height: 100%;
    }
    &__padding-container
    {       
        position: relative;
        display: flex;
        height: 100%;

        margin-left: $section-horizontal-padding;
        margin-right: $section-horizontal-padding;
    }
    a
    {
        color: $header__color;
    }
    &__brand
    {
        position: absolute;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: $header__brand-font-size;
        text-transform: uppercase;
    }
    &__hamburger
    {
        position: absolute;
        right: 0;
        right: 0;
        height: 100%;
        width: $header__hamburger-size;
        height: $header__hamburger-size;
        line-height: $header__hamburger-size;
        font-size: $header__hamburger-font-size;
        text-align: center;
        vertical-align: middle;
    }
    &__nav
    {
        z-index: 999;
        position: fixed;
        background-color: $header__nav-background-color;
        width: $header__nav-width;
        height: 100%;
        top: 0;
        right: -$header__nav-width;
        text-transform: uppercase;
        transition: right $transition-duration;
        &--active
        {
            right: 0;
        }
    }
    &__exit
    {
        position: absolute;
        background-color: $header__exit-background-color;
        top: 0;
        right: 0;
        width: $header__exit-size;
        height: $header__exit-size;
        line-height: $header__exit-size;
        font-size: $header__exit-font-size;
        text-align: center;
        vertical-align: middle;
        transition: background-color $transition-duration;
        &:hover
        {
            background-color: lighten($header__exit-background-color, $lighten);
        }
    }
    &__menu
    {
        list-style: none;
        padding: $header__menu-padding;
    }
    &__menu-element
    {
        margin-bottom: $header__link-spacing;
        font-size: $header__menu-element-font-size;
        a
        {

        }
    }
}
.header__spacer
{
    height: $header__height;
    @media (min-width: $md)
    {
        display: none;
    }
}

