.sectiontitle
{
    text-align: center;
    &__heading
    {
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 4px;
        margin-bottom: 30px;
        display: inline-block;
        &:after
        {
            content: "";
            display: block;
            position: relative;
            top: 4px;
            width: 100px;
            height: 4px;
            margin: auto;
            background-color: $articleheader__heading-underline-color;
        }
    }
}