$header-background-color: #333333;
$header-color: white;
$header-height: 50px;
$header-horizontal-padding: 15px;
$header__nav-background-color: #161616;
$header__nav-width: 250px;
$header__exit-background-color: #4d73cb;
$header__exit-size: 50px;
$header__exit-font-size: 30px;
$header__hamburger-size: 50px;
$header__hamburger-font-size: 30px;
$header__menu-padding: 30px;
$header__link-spacing: 15px;
$header__menu-element-font-size: 20px;
$header__brand-font-size: 20px;

$articleheader__heading-underline-color: #4d73cb;

$about-section-horizontal-padding: 30px;
$about-section-vertical-padding: 60px;
$about-section-divider-color: #eee;

$contact-section-horizontal-padding: 30px;
$contact-section-vertical-padding: 60px;
$contact-section-divider-color: #eee;
$contact-info-icon-color: #4d73cb;
$contact-info-icon-size: 60px;
$contact-info-icon-font-size: 30px;
$contact-mailing-button-color: #4d73cb;

$gallery-section-horizontal-padding: 30px;
$gallery-section-vertical-padding: 60px;
$gallery-section-divider-color: #eee;

$footer-background-color: #333333;
$footer-color: white;
$footer-horizontal-padding: 60px;
$footer-vertical-padding: 60px;

$lighten: 20;
$transition-duration: 0.25s;

*
{
    font-family: 'Raleway', sans-serif;
}

html, body
{
    overflow-x: hidden;
    width: 100%;
}
