$header-background-color: #333333;
$header-color: white;
$header-height: 50px;
$header-horizontal-padding: 15px;
$header__nav-background-color: #161616;
$header__nav-width: 250px;
$header__exit-background-color: #4d73cb;
$header__exit-size: 50px;
$header__exit-font-size: 30px;
$header__hamburger-size: 50px;
$header__hamburger-font-size: 30px;
$header__menu-padding: 30px;
$header__link-spacing: 15px;
$header__menu-element-font-size: 20px;
$header__brand-font-size: 20px;

$lighten: 20;
$transition-duration: 0.25s;

*
{
    font-family: 'Montserrat', sans-serif;
}