@charset "UTF-8";

/*color guide:
#171340 Pitt Blue
#CBB67C Pitt Gold
#e1d8b9 sand
#cb7d20 orange
#3c6b92 main blue
#2c566a teal
#c3cebc light green
#7f7f7f accent gray
*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	text-decoration: none;
	color: #171340 ;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
html {
	background: white;
    overflow:auto;
}
body {
	font: 100% Georgia, "Times New Roman", Times, serif;
	width: 90%;
	margin: auto auto;
	padding: 0 0;
	text-align:center;
	position: relative;
    height:auto;
    overflow: auto;
    min-width: 70em;
    line-height: 130%;
}

img.RASLogo{
    width: 17em;
    overflow: inherit;
}

#logo{
    float:left;
    padding-bottom: .75em;
    overflow: inherit;
}

#mainHeader {
    left: .5em;
    width: auto;
    min-width: inherit;
    padding-top: .5em;
    overflow: inherit;
    border-bottom: .01em solid #7f7f7f;
}

#mainHeader ul {
    float:right;
    padding: 1em;
    overflow: inherit;
}

#mainHeader li {
	float: left;
    list-style: none;
    display: inline;
    overflow: inherit;
}
#mainHeader li a{ 
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.5em;
    margin-left:1em;
    font-size:1em;
    overflow: inherit;
}
#mainHeader li a.current {
	color: #171340;
}
#mainHeader li a:hover {
	color: #CBB67C;
}

main {
	float: left;
	width: 100%;
	padding: 0 0 0 0;
	margin-bottom: 2em;
}


body ul li a.current {
	color: #171340;
    text-align: center;
}
body ul li a:hover {
	color: #CBB67C;
}

h1 {
    font: Helvetica;
    color:#171340;
    padding:1em;
}

h3{
    font: "Helvetica";
    color:#171340;
    padding:1em;
}

h3:hover {
    color:#CBB67C;
    font-size:1.5em;
}

div.galleria {
    width:75%;
    height:60%;
    background: #000;
    margin-left:auto;
    margin-right:auto;
    float:center;
}

#galleria2 {
    width:auto;
    height:80%;
    background: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

footer {
    clear:both;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    color: #a8a8a8;
	text-align: center;
	line-height: 3;
	margin:0;
    display: inline-block;
    width:50%;
}


img.TekLogo{
    float:left;
    width:35%;
    padding:3em;
}

img.SolidWorksLogo{
    float:right;
    width: 35%;
    padding:3em;
}

img.AboutUs{
    float:center;
    width: 40em;
    padding:3em;
    padding-bottom:1em;
}

#OfficerPhoto{
    clear:both;
    width:250px;
    height:250px;
    float:left;
    padding-left:10%;
    padding-top:5%;
    padding-right:5%;
}
#OfficerPhotoBottom{
    clear:both;
    width:250px;
    height:250px;
    float:left;
    padding-left:10%;
    padding-top:5%;
    padding-right:5%;
    padding-bottom:5%;
}

#OfficerName{
    font: "Helvetica";
    font-size: 1.5em;
    padding-top:5%;
    width:57%;
    text-align: left;
    color: #171340;
}

#OfficerTitle{
    font:"Helvetica";
    font-size: 1em;
    width: 70%;
    color: #CBB67C;
    text-align:left;
}

#OfficerDescription{
    font:"Helvetica";
    font-size: 1.1em;
    color: #171340;
    text-align:justify;
    padding-top:2.5%;
    height:176px;
    line-height: 130%;
}

#AdvisorBox{
    float:left;
    padding:5%;
    width:20%;
}
#AdvisorPhoto{
    width:250px;
    height:250px;
    float:left;
    padding-left:10%;
    padding-right:10%;
    padding-top:10%;
    padding-bottom:5%;
}

#AdvisorName{
    font: "Helvetica";
    font-size: 1.5em;
    padding-top:5%;
    width:250px;
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:2%;
    color: #171340;
}

#AdvisorTitle{
    font:"Helvetica";
    font-size: 1em;
    width: 250px;
    color: #CBB67C;
    text-align:center;
    padding-left:10%;
    padding-right:10%;
}

#AdvisorDescription{
    font:"Helvetica";
    font-size: 1.1em;
    color: #171340;
    text-align:justify;
    padding-top:2.5%;
    height:176px;
    line-height: 130%;
}

p.Project{
    text-align: left;
    font: "Helvetica";
    font-size:2em;
    padding:1.5%;
    padding-left:20%;
    color:#CBB67C
}
ul.ProjectList{
    list-style: none;
    display:block;
}

ul.ProjectList{
    align-content: left;
    text-align: left;
    padding-left:30%;
    font-size: 1.5em;
}

ul.ProjectList li{
    padding:.5%;
}
ul.ProjectList li a{
    text-align: left;
}

ul.ProjectList li a.current{
    text-align: left;
}

