.about
{
    &__description
    {
        padding-bottom: 30px;
        @media (min-width: $md)
        {
            padding: 0;
            padding-right: 60px;
        }
    }
    &__group-image
    {
        width: 100%;
    }
    &__people-list
    {
    }
    &__person
    {
        text-align: center;
        height: 250px;
        &:not(:last-child)
        {
            margin-bottom: 60px;
        }
        img
        {
            padding-left: 50px;
            padding-right: 50px;
            max-width: 100%;
            max-height: 100%;
            border-radius: 100%;
            margin-bottom: 10px;
        }
    }
    &__person-title
    {
        font-weight: bold;
    }
    &__person-position
    {
        font-style: italic;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__website-list
    {
    }
    &__website
    {
        text-align: center;
        height: 250px;
        &:not(:last-child)
        {
            margin-bottom: 60px;
        }
        img
        {
            padding-left: 50px;
            padding-right: 50px;
            max-width: 100%;
            max-height: 100%;
            margin-bottom: 10px;
        }
    }
    &__website-title
    {
        font-weight: bold;
    }
    &__website-year
    {
        font-style: italic;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__website-image-container
    {
        height: 250px;
        display: table;

        a {
            display: table-cell;
            vertical-align: middle;
        }
    }
}
