.project
{
    &__image
    {
        padding: 0 !important;
        img
        {
            width: 100%;
        }
    }
    &__gallery
    {
        margin-bottom: 20px;

        a {
            img
            {
                width: 80%;
                margin: 0 10%;
            }

            div {
                text-align: center;

            }
        }
    }
}
