---
layout: page
block: project
---

<section class="project__image">
    <img src="{{ page.image }}">
</section>
<!-- <section class="project__info">
    <b>LEADERS: </b>
    <br>
    {{ page.leaders }}
    <br>
    <br>
    {% if page.isPrev != true %}
    <b>MEETING TIME: </b>
    <br>
    {{ page.meeting_time }}
    <br>
    <br>
    
    {% endif %}
    {{ page.info }}
    {% if page.isPrev == true %}
    <b>YEARS ACTIVE: </b>
    <br>
    {{ page.years_active }}
    <br>
    <br>
    {% endif %}
    
    {% assign links = "" %}
    {% for post in site.posts %}
        {% if post.categories contains page.project_tag %}
            {% assign links = links | append : '[' | append: post.title | append: '](' | append: post.url | append: ')<br>' %}
        {% endif %}
    {% endfor %}

    {% if links.size != 0 %}
        {{ "## Posts" | markdownify }}
        {{ links | markdownify }}
    {% endif %}
</section> -->

<section>
    {% include centerheading.html title="Project Overview: " %}
    <p>The goal of Indy Autonomus Challenge is to implement a software stack capable of operating a Formula One style car in a head to head competition against teams all over the world in a setting similar to the Indy 500. The final race is scheduled for October 23, 2021 at the Indiapolis Motor Speedway, however preceding that there are multiple qualifing rounds including the writing of a white paper, a demonstartion of basic operation, and competing in a simulated race. </p>
</section>
