---
layout: page
block: project
---

<section class="project__image">
    <img src="{{ page.image }}">
</section>

<section>
    {% include centerheading.html title="Project Overview: " %}
    

 <div class="row">
         <div class="col-xs-12 col-md-6">
	
	<h5><b>Goal:</b></h5>
        </div>
        <div class="col-xs-12 col-md-6">
	<h5><b>Time Line:</b></h5>
        </div>
    </div>
    
    <div class="row2">
        <p class="about__description col-xs-12 col-md-6">
 The goal of Indy Autonomus Challenge is to implement a software stack capable of operating a Formula One style car in a head to head competition against teams all over the world in a setting similar to the Indy 500. The final race is scheduled for October 23, 2021 at the Indiapolis Motor Speedway, however preceding that there are multiple qualifing rounds including the writing of a white paper, a demonstartion of basic operation, and competing in a simulated race.
        <div class="col-xs-12 col-md-6">
            <img class="about__group-image" src="/assets/images/projects/2020/indy-timeline.jpg">
        </div>
    </div>
<br><br>
    <br><br>    <br><br>    <br><br>    <br><br>
</section>

    

    <a href="https://static1.squarespace.com/static/5da73021d0636f4ec706fa0a/t/5e604e57e4fc8938f7a8ed33/1583369815480/University+of+Pittsburgh+White+Paper.pdf">Read Our Whitepaper!</a>

    <br><br>


    {% include centerheading.html title='Project Leads: ' %}
    <div class="row">
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/current/nayana-suvarna.jpg">
            <div class="about__person-title">Nayana Suvarna</div>
            <div class="about__person-position">Project Co-Lead</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/current/prem-bharatia.jpg">
            <div class="about__person-title">Prem Bharatia</div>
            <div class="about__person-position">Project Co-Lead</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/alumni/officer-andrew.jpg">
            <div class="about__person-title">Andrew Saba</div>
            <div class="about__person-position">Project Mentor</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/projects/2020/mentors/josh-spisak.png">
            <div class="about__person-title">Joshua Spisak</div>
            <div class="about__person-position">Project Mentor</div>
        </div>
        <div class="about__person col-xs-12 col-sm-6 col-lg-4">
            <img src="/assets/images/about/advisors/advisor-dickerson.jpg">
            <div class="about__person-title">Samuel Dickerson</div>
            <div class="about__person-position">Project Advisor</div>
        </div>
    </div>


    {% include centerheading.html title='Project Members: ' %}
    <h5>Elissa Wilton, Matthew Sivaprakasam, Michael Finnegan, Michael Sohnen, Mike Hayden Morgan Visnesky, Shane Raible</h5>

    <br><br>
    <br><br>

</section>
<section class="contact__join">
    {% include centerheading.html title='How to Join' %}
    <p>
        Whether you are just starting out or you have years of experience, you can find a place to contribute to our team. The best way to get involved is to join our channel on the pittras slack. No expirience is nessesasry but please note that this project is a rather large time commitment.
    </p>
    <h5>Slack</h5>
    <p>
        Join us on <a href="http://pittras.slack.com/">Slack</a>, a powerful messanging service where we coordinate project teams, general announcements, ask for help, and discuss anything we want. Sign up with your Pitt email at <a href="http://pittras.slack.com/">Slack</a>. Make a post in <a href="https://pittras.slack.com/messages/general/">#general</a> and introduce yourself!
    </p>
    <h5>Email</h5>
    <p>
        Email <a href="mailto:ras@pitt.edu">ras@pitt.edu</a> if you have any questions or want to get involved.
    </p>
</section>
<section class="contact__join">
    {% include centerheading.html title='How to become a sponsor' %}
    <p>
        If you are interested in sponsoring our team for the Autonomus Indy Challenge please shoot us an email at ras@pitt.edu and we can discuss what we have to offer.
    </p>
    
</section>
