---
layout: page
block: project
---

<section class="project__image">
    <img src="{{ page.image }}">
</section>
<section class="project__info">
    <b>LEADERS: </b>
    <br>
    {{ page.leaders }}
    <br>
    <br>
    {% if page.isPrev != true %}
    <b>MEETING TIME: </b>
    <br>
    {{ page.meeting_time }}
    <br>
    <br>
    {% endif %}
    {% if page.isPrev == true %}
    <b>YEARS ACTIVE: </b>
    <br>
    {{ page.years_active }}
    <br>
    <br>
    {% endif %}


    {{ "## Synopsis" | markdownify }}
    {{ content }}


    {% if page.galleries %}
        {{ "## Photo and Video Galleries" | markdownify }}
        {{ "Click on a gallery for more pictures" | markdownify }}
        <div class="row">
            {% for gallery in page.galleries %}
                {% capture gallery_html %}
                <div class="col-xs-12 col-md-6">
                    <a href="{{ gallery.link }}">
                        <center><img src="/assets/images/gallery-thumbnails/{{ gallery.thumb }}" style="width: 80%;" /></center>
                        <div style="text-align: center">
                            {{ gallery.title }}
                        </div>
                    </a>
                </div>
                {% endcapture %}
                {{ gallery_html }}
            {% endfor %}
        </div><br>
    {% endif %}

    {% assign links = "" %}
    {% for post in site.posts %}
        {% if post.categories contains page.project_tag %}
            {% assign links = links | append : '[' | append: post.title | append: '](' | append: post.url | append: ')<br>' %}
        {% endif %}
    {% endfor %}

    {% if links.size != 0 %}
        {{ "## Posts" | markdownify }}
        {{ links | markdownify }}
    {% endif %}
</section>
